<!doctype html>
<html>
 
<head>
    <style type="text/css">
        .header{
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>
 
<body>
 
    <div class="header">
        <h2>
            Project Demo
        </h2>
    </div>
 
    <div id="customer_info" class="customer_info">
        Please load full customer info

    </div>

    <br>
	
    <form action="/handle_full_customer_info" method="post" enctype="multipart/form-data">
        <input type="file" name="data_file" />
        <input type="submit" />
    </form>

    <br>

    <div>
        {% if content == True %}
            <p>{{accuracy_info|safe}}</p>
            <p>{{notification_text|safe}}</p>
        {% endif %}
    </div>
</body>
 
</html>
