<div>
	<form action="/handle_single_customer_info" method="POST">
	  Age: 
	  <input type="number" name="age" value="58"></input> <br><br>
	  Job: 
	  <input type="text" name="job" value="management"></input> <br><br>
	  Marital: 
	  <input type="text" name="marital" value="married"></input> <br><br>
	  Education:  
	  <input type="text" name="education" value="tertiary"></input> <br><br>
	  Default:  
	  <input type="text" name="default" value="no"></input> <br><br>

	  Balance:  
	  <input type="number" name="balance" value="2143"></input> <br><br>
	  Housing:
	  <input type="text" name="housing" value="yes"></input> <br><br>
	  Loan:  
	  <input type="text" name="loan" value="no"></input> <br><br>
	  Contact:  
	  <input type="text" name="contact" value="unknown"></input> <br><br>
	  Day:  
	  <input type="number" name="day" value="5"></input> <br><br>

	  Month: 
	  <input type="text" name="month" value="may"></input> <br><br>
	  Duration:  
	  <input type="number" name="duration" value="261"></input> <br><br>
	  Campaign: 
	  <input type="number" name="campaign" value="1"></input> <br><br>
	  Pdays:  
	  <input type="number" name="pdays" value="-1"></input> <br><br>
	  Previous:  
	  <input type="number" name="previous" value="0"></input> <br><br>

	  Poutcome:  
	  <input type="text" name="poutcome" value="unknown"></input> <br> <br>
	  <br> 
	  <input type="submit"></input>
	</form>
</div>


{% if summary_message != False %}
  <div> {{summary_message|safe}}<div>
{% endif %}